<!-- ----------------------------------------------------------------------------------- -->
<!-- FORMULARIO DE USUARIO -->
<!-- ----------------------------------------------------------------------------------- -->
<div id="divForm">
    <!-- general form elements disabled -->
    <div class="card" [ngClass]="{'card-warning': isCreateMode,'card-danger': isDeleteMode,
                                       'card-success' : isViewMode, 'card-info' : !isViewMode && !isCreateMode}">

        <div class="card-header">
            <h3 class="card-title  ">
                <a (click)="goBack()" title="Volver atras"><i class="fas fa-arrow-circle-left"></i> </a>
                {{info_component.title | translate}}
            </h3>
        </div>

        <!-- /.card-header -->
        <div class="card-body " *ngIf="!progressing">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label> {{label_text.name_label | translate }} {{ info_component.owner | translate }}
                            </label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">N</div>
                                </div>

                                <input type="text" id="name_user" formControlName="name" class="form-control"
                                    placeholder="{{label_text.name_label  | translate  }}  {{ info_component.owner | translate  }}"
                                    title="{{ label_text.name_label  | translate  }}  {{ info_component.owner | translate  }}"
                                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                <!-- DIV- ERROR-->
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required"> {{label_text.name_label | translate }}
                                        {{label_error.msg_error_required | translate }} </div>
                                </div>
                                <!-- DIV- ERROR-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> {{label_text.status_label | translate }} {{ info_component.owner | translate }}
                            </label>
                            <div class="input-group mb-2">
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="statusId"
                                        id="status_user1" [value]="1" >
                                    <label class="form-check-label" for="status_user1">
                                        Activo
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="statusId"
                                        id="status_user2" [value]="2">
                                    <label class="form-check-label" for="status_user2">
                                        Bloqueado
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="statusId"
                                        id="status_user3" [value]="3">
                                    <label class="form-check-label" for="status_user3">
                                        Pausado
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label> {{label_text.cellphone_label | translate }} {{ info_component.owner | translate }}
                            </label>
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                </div>

                                <input type="text" id="cellphone_user" formControlName="cellphone" class="form-control"
                                    placeholder="(0000) 000-0000" mask="{{maskPhone}}"
                                    title="{{label_text.cellphone_label  | translate  }}  {{ info_component.owner | translate  }}"
                                    [ngClass]="{ 'is-invalid': submitted && f.cellphone.errors }" />
                                <!-- DIV- ERROR-->
                                <div *ngIf="submitted && f.cellphone.errors" class="invalid-feedback">
                                    <div *ngIf="f.cellphone.errors.required">{{label_text.cellphone_label |
                                        translate }} {{label_error.msg_error_required | translate }} </div>
                                </div>
                                <!-- DIV- ERROR-->

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group ">
                            <label> {{label_text.email_label | translate }} {{ info_component.owner | translate }}
                            </label>
                            <div class="input-group mb-3">

                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>

                                <input type="email" id="email_user" formControlName="email" class="form-control"
                                    placeholder="example@domain.com" autocomplete="new-user"
                                    title="{{label_text.email_label  | translate  }}  {{ info_component.owner | translate  }}"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <!-- DIV´s - ERRORES-->
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required"> {{label_text.email_label | translate }}
                                        {{label_error.msg_error_required | translate }} </div>
                                    <div *ngIf="f.email.errors.email"> {{label_text.email_label | translate }}
                                        {{label_error.msg_error_email_invalid | translate }} </div>
                                </div>
                                <!-- DIV´s - ERRORES-->

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <!-- text input -->
                        <div class="form-group">
                            <label> {{label_text.nick_label | translate }} {{ info_component.owner | translate }}
                            </label>
                            <div class="input-group mb-2">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">@</div>
                                </div>

                                <input type="text" id="nick_user" formControlName="nick" class="form-control"
                                    placeholder=" {{label_text.nick_label  | translate  }}  {{ info_component.owner | translate }}"
                                    autocomplete="new-user"
                                    title=" {{label_text.nick_label  | translate  }}  {{ info_component.owner | translate  }}"
                                    [ngClass]="{ 'is-invalid': submitted && f.nick.errors }" />
                                <!-- DIV´s - ERRORES-->
                                <div *ngIf="submitted && f.nick.errors" class="invalid-feedback">
                                    <div *ngIf="f.nick.errors.required">{{label_text.nick_label | translate }}
                                        {{label_error.msg_error_required | translate }} </div>
                                    <div *ngIf="f.nick.errors.minlength">
                                        {{label_text.nick_label | translate }}
                                        {{label_error.msg_error_characters_min | translate }}
                                    </div>
                                    <div *ngIf="f.nick.errors.maxlength">
                                        {{label_text.nick_label | translate }}
                                        {{label_error.msg_error_characters_max | translate }}
                                    </div>
                                </div>
                                <!-- DIV´s - ERRORES-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group ">
                            <label> {{label_text.profile_label | translate }} {{ info_component.owner | translate }}
                            </label>
                            <div class="input-group mb-3">

                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="far fa-id-card"></i>
                                    </span>
                                </div>

                                <select name="roleId" class="form-control  " id="roleId" formControlName="roleId">
                                    <option class="text-white bg-dark  " value="undefined" selected disabled>
                                        {{label_text.selected_label | translate }} </option>
                                    <option [value]="item.id" *ngFor="let item of profile_system">
                                        {{item.name}}</option>
                                </select>
                                <!-- DIV´s - ERRORES -->
                                <div *ngIf="submitted && f.roleId.errors" class="invalid-feedback">
                                    <div *ngIf="f.roleId.errors.required"> {{label_text.profile_label | translate }}
                                        {{label_error.msg_error_required | translate }} </div>
                                </div>
                                <!-- DIV´s - ERRORES -->
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- select  -->
                        <div class="form-group ">
                            <label> {{label_text.store_label | translate }} {{ info_component.owner | translate }}
                            </label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-store"></i>
                                    </span>
                                </div>

                                <select name="storeId" class="form-control  " id="store_user" formControlName="storeId">
                                    <option class="text-white bg-dark  " value="undefined" selected disabled>
                                        {{label_text.selected_label | translate }} </option>
                                    <option [value]="item.id" *ngFor="let item of listStore">
                                        {{item.name}}
                                    </option>
                                </select>

                                <!-- DIV´s - ERRORES -->
                                <div *ngIf="submitted && f.storeId.errors" class="invalid-feedback">
                                    <div *ngIf="f.storeId.errors.required"> {{label_text.store_label | translate }}
                                        {{label_error.msg_error_required | translate }} </div>
                                </div>
                                <!-- DIV´s - ERRORES -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!isViewMode">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label> {{label_text.password_label | translate }} {{ info_component.owner | translate }}
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"> <i class="fas fa-key"></i></div>
                                </div>

                                <input type="password" id="pass_user" formControlName="password" class="form-control"
                                    placeholder="{{label_text.password_label  | translate  }}  {{ info_component.owner | translate  }}"
                                    autocomplete="new-password"
                                    title=" {{label_text.password_label  | translate  }}  {{ info_component.owner | translate  }} "
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

                                <!-- DIV´s - ERRORES -->
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">{{label_text.password_label | translate
                                        }} {{label_error.msg_error_required | translate }} </div>
                                    <div *ngIf="f.password.errors.minlength">{{label_text.password_label | translate
                                        }} {{label_error.msg_error_characters_min | translate }} </div>
                                    <div *ngIf="f.password.errors.maxlength">{{label_text.password_label | translate
                                        }} {{label_error.msg_error_characters_max | translate }} </div>
                                </div>
                                <!-- DIV´s - ERRORES -->
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label> {{ label_text.cpassword_label | translate }} {{ info_component.owner | translate }}
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-user-shield"></i>
                                    </div>
                                </div>

                                <input type="password" id="pass_confirm_user" formControlName="confirmPassword"
                                    class="form-control"
                                    placeholder=" {{label_text.cpassword_label  | translate  }}  {{ info_component.owner | translate  }}"
                                    autocomplete="new-password"
                                    title=" {{label_text.cpassword_label  | translate  }}  {{ info_component.owner | translate  }}"
                                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />

                                <!-- DIV´s - ERRORES -->
                                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmPassword.errors.required">{{label_text.cpassword_label |
                                        translate }} {{label_error.msg_error_characters_min | translate }} </div>
                                    <div *ngIf="f.confirmPassword.errors.matching">{{label_text.password_label |
                                        translate }} & {{label_text.cpassword_label | translate }}
                                        {{label_error.msg_error_confirm_pass | translate }}</div>
                                </div>
                                <!-- DIV´s - ERRORES -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- text input -->
                    <div class="col-sm-12">

                        <!-- text input -->
                        <div class="form-group">
                            <label> {{label_text.address_label | translate }} {{ info_component.owner | translate }}
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"> <i class="fas fa-map-marked-alt"></i>
                                    </div>
                                </div>

                                <textarea id="address_user" formControlName="address" class="form-control"
                                    placeholder="{{label_text.indicate_label | translate  }} ..." rows="3"
                                    title=" {{label_text.address_label  | translate  }}  {{ info_component.owner | translate  }}"
                                    [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>

                                <!-- DIV´s - ERRORES -->
                                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                    <div *ngIf="f.address.errors.required">{{label_text.address_label | translate }}
                                        {{label_error.msg_error_required | translate }} </div>
                                </div>
                                <!-- DIV´s - ERRORES -->
                            </div>
                        </div>
                    </div>
                </div>

                <fieldset class="border border-info col-sm-12 rounded ">
                    <legend class="border border-info col-sm-12 rounded">
                        <i class="fas fa-book-medical"></i> [{{label_text.emergency_titte_label | translate}}]
                        <small class="text-muted ">{{label_text.optional_label_form | translate}} </small>
                    </legend>
                    <div class="row">
                        <!-- text input -->
                        <div class="form-group col-sm-6">
                            <label>{{label_text.cellphone_emergency | translate }} {{ info_component.owner | translate
                                }}</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-phone-volume"></i>
                                    </span>
                                </div>
                                <input type="text" id="cellphone_emergency" formControlName="emergencyPhone"
                                    class="form-control" mask="{{maskPhone}}" placeholder="(0000) 000-0000"
                                    title="{{label_text.cellphone_emergency | translate}}" />
                            </div>
                        </div>
                        <!-- DIV´s - ERRORES -->
                        <div class="form-group col-sm-6">
                            <label> {{label_text.contact_emergency | translate }} {{ info_component.owner | translate }}
                            </label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-first-aid"></i></div>
                                </div>
                                <input type="text" id="contacto_emergencia" formControlName="emergencyContact"
                                    class="form-control" placeholder="Contacto de Emergency"
                                    title="{{label_text.contact_emergency | translate}}" />
                            </div>
                        </div>
                        <!-- DIV´s - ERRORES -->
                    </div>
                </fieldset>
                <hr>
                <div class="card-text">
                    <button type="button" (click)="goBack()" *ngIf="!isViewMode"
                        class="btn btn-outline-danger float-right"
                        [ngClass]="{'btn-outline-danger': !isDeleteMode,  'btn-outline-secondary' : isDeleteMode }">
                        <i class="far fa-window-close"></i>
                        {{ label_btn.btn_cancel | translate}}
                    </button>
                    <!-- Botones del formulario de editar / crear-->
                    <button type="submit" class="btn float-left" *ngIf="!isViewMode && !isDeleteMode"
                        [ngClass]="{'btn-outline-success': isCreateMode,  'btn-outline-info' : !isViewMode && !isCreateMode  && !isDeleteMode}"
                        [disabled]="progressing" translate>
                        <i class="far fa-save"></i> {{ isCreateMode ? label_btn.btn_save : label_btn.btn_edit }}
                    </button>

                    <!-- Botones del formulario de crear-->
                    <button type="reset" (click)="onReset()" *ngIf="isCreateMode" class="btn btn-outline-info ml-1">
                        <i class="fas fa-backspace"></i> {{ label_btn.btn_cleanup | translate}}
                    </button>

                    <!-- Botones del formulario de consultar-->
                    <button type="button" (click)="goBack()" *ngIf="isViewMode" class="btn btn-outline-secondary">
                        <i class="far fa-arrow-alt-circle-left"></i> {{ label_btn.btn_back | translate}}
                    </button>

                    <!-- Botones del formulario de eliminar-->
                    <button type="button" (click)="onDelete()" *ngIf="isDeleteMode" [disabled]="progressing"
                        class="btn btn-outline-danger">
                        <i class="fas fa-trash"></i> {{ label_btn.btn_delete | translate}}</button>

                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- general form elements disabled -->
</div>