<div class="row">
    <!-- ----------------------------------------------------------------------------------- -->
    <!-- LISTA DE PRODUCTOS -->
    <!-- ----------------------------------------------------------------------------------- -->
    <div class="col-12">
        <div class="card">

            <div class="card-header">
                <h2 class="card-title titulo-data-table  ">
                    <i class="fas fa-luggage-cart"></i>
                    {{info_component.title | translate }}
                </h2>
            </div>
            <div class="card-body" *ngIf="!progressing">
                <ng-container *ngIf="!info_component.empty; then dataBlock else emptyBlock"></ng-container>

                <ng-template #dataBlock>
                    <table class="col-sm-12" style=" margin-bottom: 20px">
                        <tr>
                            <td class="col-sm-2 text-right"></td>
                            <td class="col-sm-1 text-right">{{'code' | translate }}</td>
                            <td class="col-sm-2 text-right">
                                <span class="input-group-text" style=" display:inline-block;">
                                    <i class="fas fa-qrcode"></i>
                                </span>
                                <input type="text" name="code"  id="code"
                                    class="filter-control" [(ngModel)]="codeSelected">
                            </td>
                            <td class="col-sm-1 text-right">{{'name' | translate }}</td>
                            <td class="col-sm-4 text-right">
                                <span class="input-group-text" style=" display:inline-block;">
                                    <i class="far fa-address-book"></i>
                                </span>
                                <input type="text" name="productId"  id="productId"
                                    class="filter-control" [(ngModel)]="productSelected">
                            </td>
                            <td class="col-sm-1 text-right">
                                <button type="button" class="btn btn-primary" (click)="filter()">
                                    {{'filter' | translate }}</button>
                            </td>
                        </tr>
                    </table>
                    <div class="dataTables_wrapper dt-bootstrap4">
                        <div class="col-sm-12">
                            <table id="table_product" class="table table-bordered table-striped dataTable dtr-inline"
                                role="grid" aria-describedby="table_product_info">
                                <thead>
                                    <tr role="row">
                                    <tr role="row">
                                        <th class="sorting" >
                                            <a (click)="sortByKey('code')">{{'code' | translate }}
                                                <i class="fas" [ngClass]="{'fa-sort': sort==null||sort?.field!='code',
                                                'fa-sort-down' : sort?.field=='code'&&sort.order=='DESC',
                                                'fa-sort-up' : sort?.field=='code'&&sort.order=='ASC'}"></i></a>
                                        </th>
                                        <th class="sorting" >
                                            <a (click)="sortByKey('name')">{{'name' | translate }}
                                                <i class="fas" [ngClass]="{'fa-sort': sort==null||sort?.field!='name',
                                                    'fa-sort-down' : sort?.field=='name'&&sort.order=='DESC',
                                                    'fa-sort-up' : sort?.field=='name'&&sort.order=='ASC'}"></i></a>
                                        </th>
                                        <th class="sorting" >
                                            <a (click)="sortByKey('price')">{{'price' | translate }}
                                                <i class="fas" [ngClass]="{'fa-sort': sort==null||sort?.field!='price',
                                        'fa-sort-down' : sort?.field=='price'&&sort.order=='DESC',
                                        'fa-sort-up' : sort?.field=='price'&&sort.order=='ASC'}"></i></a>
                                        </th>
                                        <th class="sorting" >
                                            <a (click)="sortByKey('cost')">{{'cost' | translate }}
                                                <i class="fas" [ngClass]="{'fa-sort': sort==null||sort?.field!='cost',
                                'fa-sort-down' : sort?.field=='cost'&&sort.order=='DESC',
                                'fa-sort-up' : sort?.field=='cost'&&sort.order=='ASC'}"></i></a>
                                        </th>
                                        <th class="sorting" >
                                            <a (click)="sortByKey('status')">{{'status' | translate }}
                                                <i class="fas" [ngClass]="{'fa-sort': sort==null||sort?.field!='status',
                            'fa-sort-down' : sort?.field=='status'&&sort.order=='DESC',
                            'fa-sort-up' : sort?.field=='status'&&sort.order=='ASC'}"></i></a>
                                        </th>
                                        <th class="sorting" >
                                            <a>{{'image' | translate }} </a>
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="table_product"
                                            aria-label="Rendering engine: activate to sort column ascending">
                                            {{ label_text.actions | translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd"
                                        *ngFor="let item of info_component.list.data  | paginate:{itemsPerPage: info_component.pageSize, 
                                            currentPage: info_component.list.pagination.num_page, totalItems: info_component.count_item }">
                                        <td class="dtr-control">{{item.code}}</td>
                                        <td class="dtr-control">{{item.name}}</td>
                                        <td class="dtr-control">{{item.price}} {{prop_glo.info_globals.monedas.default.simb_mon}}</td>
                                        <td class="dtr-control">{{item.cost}} {{prop_glo.info_globals.monedas.default.simb_mon}}</td>
                                        <td class="dtr-control">{{item.statusName }}</td>
                                        <td class="dtr-control">
                                            <div class="mt-3 pb-3 mb-3 image-list-div">
                                                <div>
                                                    <img class="image-list" [src]="item.image"
                                                        title="Imagen referencial" />
                                                </div>
                                            </div>
                                        </td>
                                        <td class="dtr-control">
                                            <app-button-list [acciones_crud]="info_component.list.acciones_crud"
                                                [id]="item.id"></app-button-list>
                                        </td>

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr role="row">
                                        <th rowspan="1" colspan="9">
                                            <span class="badge bg-success rounded-pill" style="font-size: medium;">
                                                {{ label_text.num_item_list | translate}}: {{
                                                info_component.count_item}}
                                            </span>
                                            <a *ngIf="actionAllowed.includes('Registrar')"
                                                routerLink="{{ info_component.list.url_add_item }}"
                                                class="btn btn-outline-warning float-right" role="button"
                                                aria-pressed="true" title="{{ label_btn.btn_add | translate}}">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                        </th>
                                    </tr>

                                </tfoot>
                            </table>
                        </div>
                        <app-pagination-list [paginador]="info_component.list.pagination" (click)="changePage()"></app-pagination-list>
                    </div>
                </ng-template>

                <ng-template #emptyBlock>
                    <table class="col-sm-12" style=" margin-bottom: 20px">
                        <tr>
                            <td class="col-sm-2 text-right"></td>
                            <td class="col-sm-1 text-right">{{'code' | translate }}</td>
                            <td class="col-sm-2 text-right">
                                <span class="input-group-text" style=" display:inline-block;">
                                    <i class="fas fa-qrcode"></i>
                                </span>
                                <input type="text" name="code"  id="code"
                                    class="filter-control" [(ngModel)]="codeSelected">
                            </td>
                            <td class="col-sm-1 text-right">{{'name' | translate }}</td>
                            <td class="col-sm-4 text-right">
                                <span class="input-group-text" style=" display:inline-block;">
                                    <i class="far fa-address-book"></i>
                                </span>
                                <input type="text" name="productId"  id="productId"
                                    class="filter-control" [(ngModel)]="productSelected">
                            </td>
                            <td class="col-sm-1 text-right">
                                <button type="button" class="btn btn-primary" (click)="filter()">
                                    {{'filter' | translate }}</button>
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            {{ info_component.sms_empty | translate}} ...
                        </div>
                        <div class="col-sm-12">
                            <a *ngIf="actionAllowed.includes('Registrar')"
                                routerLink="{{ info_component.list.url_add_item }}"
                                class="btn btn-outline-warning float-right" role="button" aria-pressed="true"
                                title="{{ label_btn.btn_add | translate}}">
                                <i class="fas fa-plus-circle"></i>
                            </a>
                        </div>
                    </div>
                </ng-template>

            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>