<div class="row">
    <!-- ----------------------------------------------------------------------------------- -->
    <!-- LISTA DE ALMACENES -->
    <!-- ----------------------------------------------------------------------------------- -->
    <div class="col-12">
        <div class="card">

            <div class="card-header">
                <h2 class="card-title titulo-data-table  ">
                    <i class="fas fa-boxes"></i>
                    {{info_component.title | translate }}
                </h2>
            </div>

            <div class="card-body" *ngIf="!progressing">
                <ng-container *ngIf="!info_component.empty; then dataBlock else emptyBlock"></ng-container>
                <ng-template #dataBlock>
                    <table class="col-sm-12" style=" margin-bottom: 20px">
                        <tr>
                            <td class="col-sm-3 text-right"></td>
                            <td class="col-sm-1 text-right">{{'store' | translate }}</td>
                            <td class="col-sm-3 text-right">
                                <span class="input-group-text" style=" display:inline-block;">
                                    <i class="fas fa-store"></i>
                                </span>
                                <input type="text" name="storeId" list="inputFindStore" id="storeId"
                                    class="filter-control" [(ngModel)]="storeSelected">
                                <datalist id="inputFindStore" class="form-select">
                                    <option value="{{item.name}}" *ngFor="let item of storeList" class="optionFound">
                                </datalist>
                            </td>
                            <td class="col-sm-1 text-right">{{'product' | translate }}</td>
                            <td class="col-sm-3 text-right">
                                <span class="input-group-text" style=" display:inline-block;">
                                    <i class="fas fa-luggage-cart"></i>
                                </span>
                                <input type="text" name="productId" list="inputFindProduct" id="productId"
                                    class="filter-control" [(ngModel)]="productSelected">
                                <datalist id="inputFindProduct" class="form-select">
                                    <option value="{{item.name}}" *ngFor="let item of productList" class="optionFound">
                                </datalist>
                            </td>
                            <td class="col-sm-1 text-right">
                                <button type="button" class="btn btn-primary" (click)="filter()">
                                    {{'filter' | translate }}</button>
                            </td>
                        </tr>
                    </table>
                    <div class="dataTables_wrapper dt-bootstrap4">
                        <div class="col-sm-12">
                            <table id="table_stock" class="table table-bordered table-striped dataTable dtr-inline"
                                role="grid" aria-describedby="table_stock_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting">
                                            <a (click)="sortByKey('store.name')">{{'store' | translate }}
                                                <i class="fas"
                                                    [ngClass]="{'fa-sort': sort==null||sort?.field!='store.name',
                                                    'fa-sort-down' : sort?.field=='store.name'&&sort.order=='DESC',
                                                    'fa-sort-up' : sort?.field=='store.name'&&sort.order=='ASC'}"></i></a>
                                        </th>
                                        <th class="sorting">
                                            <a (click)="sortByKey('product.name')">{{'product' | translate }}
                                                <i class="fas"
                                                    [ngClass]="{'fa-sort': sort==null||sort?.field!='product.name',
                                                    'fa-sort-down' : sort?.field=='product.name'&&sort.order=='DESC',
                                                    'fa-sort-up' : sort?.field=='product.name'&&sort.order=='ASC'}"></i></a>
                                        </th>
                                        <th class="sorting">
                                            <a (click)="sortByKey('stock')">{{'inventory' | translate }}
                                                <i class="fas" [ngClass]="{'fa-sort': sort==null||sort?.field!='stock',
                                                    'fa-sort-down' : sort?.field=='stock'&&sort.order=='DESC',
                                                    'fa-sort-up' : sort?.field=='stock'&&sort.order=='ASC'}"></i></a>
                                        </th>
                                        <th class="sorting">
                                            <a (click)="sortByKey('status')">{{'status' | translate }}
                                                <i class="fas" [ngClass]="{'fa-sort': sort==null||sort?.field!='status',
                                                    'fa-sort-down' : sort?.field=='status'&&sort.order=='DESC',
                                                    'fa-sort-up' : sort?.field=='status'&&sort.order=='ASC'}"></i></a>
                                        </th>
                                        <th class="sorting">
                                            {{ label_text.actions | translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd"
                                        *ngFor="let item of info_component.list.data  | paginate:{itemsPerPage: 3, currentPage: info_component.list.pagination.num_page, totalItems: info_component.list.data.count_item }">
                                        <td class="dtr-control">{{item.storeName}}</td>
                                        <td class="dtr-control">{{item.productName}}</td>
                                        <td class="dtr-control">{{item.stock}}</td>
                                        <td class="dtr-control">{{item.statusName}}</td>
                                        <td class="dtr-control">
                                            <app-button-list [acciones_crud]="info_component.list.acciones_crud"
                                                [id]="item.id"></app-button-list>
                                        </td>

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr role="row">
                                        <th rowspan="1" colspan="9">
                                            <span class="badge bg-success rounded-pill" style="font-size: medium;">
                                                {{ label_text.num_item_list | translate}}: {{
                                                info_component.count_item}}
                                            </span>

                                            <a *ngIf="actionAllowed.includes('Registrar')"
                                                routerLink="{{ info_component.list.url_add_item }}"
                                                class="btn btn-outline-warning float-right" role="button"
                                                aria-pressed="true" title="{{ label_btn.btn_add | translate}}">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                        </th>
                                    </tr>

                                </tfoot>
                            </table>
                        </div>

                        <app-pagination-list [paginador]="info_component.list.pagination"></app-pagination-list>
                    </div>
                </ng-template>

                <ng-template #emptyBlock>
                    <div class="row">
                        <div class="col-sm-12">
                            {{ info_component.sms_empty | translate}} ...
                        </div>

                        <div class="col-sm-12">

                            <a routerLink="{{ info_component.list.url_add_item }}"
                                class="btn btn-outline-warning float-right" role="button" aria-pressed="true"
                                title="{{ label_btn.btn_add | translate}}">
                                <i class="fas fa-plus-circle"></i>
                            </a>

                        </div>

                    </div>
                </ng-template>

            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>