<div class="row">
    <div class="col-lg-3 col-6" *ngFor="let item of summariesList">
        <!-- small box -->
        <div class="small-box {{item.color}}" >
            <div class="inner">
                <h3>{{item.value}}</h3>
                <p>{{item.description}}</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a (click)="goTo(item.url)" class="small-box-footer">Ver más <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
  
    <!-- ./col -->
</div>
<!-- /.row -->