<p>index-component works!</p>
<!-- Barra de navegación -->
<div>

</div>
<!-- Buscador -->
<div class="container container-finder">
    <div>
        <input type="text" class="input-finder" placeholder='Buscamos tu repuesto...'>
        <i class="fa fa-search"></i>
    </div>
    <div class="container-center">
        <button type="button" class="btn btn-primary button-finder" >Buscar tu repuesto</button>
    </div>
    <div class="container-center">
        <h1 class="slogan">La forma más Fácil y Segura de comprar tu repuesto</h1>
    </div>

</div>
<!-- Pie de página -->