<section class="content " #finder [ngClass]="{'container-finder': !isMobile, 'container-finder-mobile' : isMobile}">
    <!-- Buscador -->
    <div>
        <input type="text" list="inputFindProduct" placeholder='Buscamos tu repuesto...'
            [ngClass]="{'input-finder': !isMobile, 'input-finder-mobile' : isMobile}"
            (keyup)="changeFinderInput($event)" (keyup.enter)="goToFoundsWithEnter($event,found)"
            [(ngModel)]="inputFinder">
        <i class="fa fa-search" (click)="goToFounds(found)"></i>
        <datalist id="inputFindProduct" class="form-select">
            <option value="{{item.name}}" *ngFor="let item of productList" class="optionFound">
        </datalist>
    </div>
    <div class="container-center">
        <button type="button" class="btn btn-primary button-finder" (click)="goToFounds(found)">Buscar tu
            repuesto</button>
    </div>
    <div class="container-center">
        <h1 class="slogan">La forma más Fácil y Segura de comprar tu repuesto</h1>
    </div>
</section>

<section class="container container-found" #found>
    <div class="container-center" *ngIf="productFoundList.length>0 && findProducts">
        <h3 [ngClass]="{'h1-mobile' : isMobile}">Repuestos encontrados:</h3>
    </div>
    <div class="container-center" *ngIf="productFoundList.length==0 && findProducts">
        <h2 [ngClass]="{'h3-mobile' : isMobile}">Lo sentimos, repuesto no disponible </h2>
    </div>
    <div class="dataTables_wrapper dt-bootstrap4" *ngIf="productFoundList.length>0 && findProducts">
        <div class="col-sm-12">
            <table id="table_product" class="table table-bordered table-striped dataTable dtr-inline" role="grid"
                aria-describedby="table_product_info">
                <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="table_product" rowspan="1" colspan="1"
                            aria-label="Rendering engine: activate to sort column ascending">
                            {{'image' | translate }}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="table_product" rowspan="1" colspan="1"
                            aria-label="Rendering engine: activate to sort column ascending">
                            {{'name' | translate }}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="table_product" rowspan="1" colspan="1"
                            aria-label="Rendering engine: activate to sort column ascending">
                            {{'price' | translate }}
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="table_product" rowspan="1" colspan="1"
                            aria-label="Rendering engine: activate to sort column ascending">
                            {{'stores' | translate }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd"
                        *ngFor="let product of productFoundList  | paginate:{itemsPerPage: 3, currentPage: paginator.num_page, totalItems: productFoundList.length}">
                        <td data-title="Imagen" class="dtr-control product-item-table column-center"
                            [ngClass]="{'column-width-desktop-20': !isMobile, 'column-width-mobile' : isMobile}">
                            <div class="mt-3 pb-3 mb-3 image-list-div">
                                <div>
                                    <img class="image-list" [src]="product.image" title="Imagen referencial" />
                                </div>
                            </div>
                        </td>
                        <td data-title="Nombre" class="dtr-control product-item-table column-center"
                            [ngClass]="{'column-width-desktop-30': !isMobile, 'column-width-mobile' : isMobile}">
                            {{product.name}}</td>
                        <td data-title="Precio" class="dtr-control product-item-table column-center"
                            [ngClass]="{'column-width-desktop-10': !isMobile, 'column-width-mobile' : isMobile}">
                            {{product.price}} $</td>
                        <td data-title="Tiendas" class="dtr-control product-item-table column-center">
                            <ul class="list-group" [ngClass]="{'column-center-mobile' : isMobile}">
                                <li class="list-group-item" *ngFor="let store of product.stores">
                                    {{store.name}} <br> {{store.address}} <br>{{store.phone}}
                                </li>

                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-pagination-list [paginador]="info_component.list.pagination"></app-pagination-list>
    </div>
    <div class="container-center" *ngIf="productFoundList.length>0 && findProducts">
        <button type="button" class="btn btn-primary button-found" (click)="goToFinder(finder)">Volver arriba</button>
    </div>
</section>
<!-- Pie de página -->