<section class="content container-finder" #finder>
    <!-- Buscador -->
    <div>
        <input type="text" class="input-finder" list="datalistOptions" placeholder='Buscamos tu repuesto...'  (keyup)="changeFinderInput($event)" (keyup.enter)="goToFounds(found)">
        <i class="fa fa-search"></i>
        <datalist id="datalistOptions">
            <option value="{{item.name}}" *ngFor="let item of productList"> 
        </datalist>
    </div>
    <div class="container-center">
        <button type="button" class="btn btn-primary button-finder" (click)="goToFounds(found)">Buscar tu
            repuesto</button>
    </div>
    <div class="container-center">
        <h1 class="slogan">La forma más Fácil y Segura de comprar tu repuesto</h1>
    </div>
</section>

<section class="container container-found" #found>
    <div class="container-center" *ngIf="productFoundList.length>0">
        <h1 class="products-founds">Productos encontrados:</h1>
    </div>
    <div class="dataTables_wrapper dt-bootstrap4" *ngIf="productFoundList.length>0">
        <div class="col-sm-12">
            <table id="table_product" class="table table-bordered table-striped dataTable dtr-inline" role="grid"
                aria-describedby="table_product_info">
                <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="table_product" rowspan="1" colspan="1"
                            aria-label="Rendering engine: activate to sort column ascending">
                            Imagen
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="table_product" rowspan="1" colspan="1"
                            aria-label="Rendering engine: activate to sort column ascending">
                            Nombre
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="table_product" rowspan="1" colspan="1"
                            aria-label="Rendering engine: activate to sort column ascending">
                            Precio
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="table_product" rowspan="1" colspan="1"
                            aria-label="Rendering engine: activate to sort column ascending">
                            Tiendas
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd" *ngFor="let product of productFoundList">
                        <td class="dtr-control product-item-table">
                            <div class="mt-3 pb-3 mb-3 image-list-div">
                                <div>
                                    <img class="image-list" [src]="NO_IMAGE" title="Imagen referencial" />
                                </div>
                            </div>
                        </td>
                        <td class="dtr-control product-item-table">{{product.name}}</td>
                        <td class="dtr-control product-item-table">{{product.price}}</td>
                        <td class="dtr-control product-item-table">
                            <ul class="list-group">
                                <li class="list-group-item"  *ngFor="let store of product.stores"> 
                                    {{store.name}} <br> {{store.address}} <br>{{store.phone}}
                                </li>
                               
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-pagination-list [paginador]="info_component.list.pagination"></app-pagination-list>
    </div>
    <div class="container-center" *ngIf="productFoundList.length>0">
        <button type="button" class="btn btn-primary button-found" (click)="goToFounds(finder)">Volver arriba</button>
    </div>
</section>
<!-- Pie de página -->