i {
    width: 2px;
    position: relative;
    right: 30px;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    z-index: 1;
    color: #03045fc7;
  }

  .container-finder{
    text-align: center;
    margin-top: 250px;
 }

 .input-finder{
  width: 70%;
  height: 50px;
  padding-left: 50px;
}

.button-finder{
  text-align: center;
  margin-top: 30px;
}

.slogan{
  color:  white;
  margin-top: 20px;
  width: 550px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.container-center{
  display: flex;
  justify-content: center;

}